In [1]:
import pandas as pd

In [2]:
dfData = pd.read_csv('BLACKBUCK_Trade_Sizing_Mar22.csv')
dfData.shape

(6979200, 15)

In [3]:
dfData.head()

,pincode,state,district,tier,opened,score_band,ticket_size,product,member_group,live_closed,dpd_status,flag_derog,trades,sanctioned_amount,current_balance
0,NaN,NaN,NaN,NaN,BEFORE 2017,771-790,12L-15L,COMMERCIAL VEHICLE LOANS,NBFC,CLOSED,CLOSED,DEROG,2,2664907,606727
1,NaN,NaN,NaN,NaN,BEFORE 2017,731-770,12L-15L,COMMERCIAL VEHICLE LOANS,NBFC,LIVE,0-STD,NON-DEROG,1,1213000,179270
2,NaN,NaN,NaN,NaN,BEFORE 2017,300-680,12L-15L,COMMERCIAL VEHICLE LOANS,NBFC,LIVE,180-359/LSS,DEROG,3,4090000,2430353
3,NaN,NaN,NaN,NaN,BEFORE 2017,300-680,12L-15L,COMMERCIAL VEHICLE LOANS,NBFC,LIVE,720-900,DEROG,2,2684590,2047383
4,NaN,NaN,NaN,NaN,BEFORE 2017,731-770,12L-15L,COMMERCIAL VEHICLE LOANS,OTHERS,CLOSED,CLOSED,NON-DEROG,3,4300000,0

In [7]:
len(dfData.pincode.unique()),len(dfData.state.unique()),len(dfData.district.unique()),len(dfData.score_band.unique())

(21516, 37, 641, 6)

In [12]:
len(dfData.ticket_size.unique())

9

In [24]:
dfData.dpd_status.unique()

array(['CLOSED', '0-STD', '180-359/LSS', '720-900', '60-89/SMA', '30-59',
       '150-179/DBT', '360-719', '90-149/SUB', '1-29', nan], dtype=object)

In [11]:
len(dfData.dpd_status.unique())

11

In [6]:
dfData = dfData[~dfData['pincode'].isna()]

In [7]:
dfData.head()

,pincode,state,district,tier,opened,score_band,ticket_size,product,member_group,live_closed,dpd_status,flag_derog,trades,sanctioned_amount,current_balance
3776,110001.0,Delhi,Central Delhi,METRO,BEFORE 2017,300-680,12L-15L,COMMERCIAL VEHICLE LOANS,PEER,CLOSED,CLOSED,DEROG,2,2584000,0
3777,110001.0,Delhi,Central Delhi,METRO,BEFORE 2017,300-680,12L-15L,COMMERCIAL VEHICLE LOANS,PVT,CLOSED,CLOSED,DEROG,1,1337000,0
3778,110001.0,Delhi,Central Delhi,METRO,BEFORE 2017,681-730,12L-15L,COMMERCIAL VEHICLE LOANS,PVT,CLOSED,CLOSED,DEROG,3,4198620,0
3779,110001.0,Delhi,Central Delhi,METRO,BEFORE 2017,771-790,15L+,COMMERCIAL VEHICLE LOANS,PEER,CLOSED,CLOSED,NON-DEROG,2,3907800,0
3780,110001.0,Delhi,Central Delhi,METRO,BEFORE 2017,300-680,15L+,COMMERCIAL VEHICLE LOANS,PEER,CLOSED,CLOSED,DEROG,1,2086000,0

In [8]:
dfData.opened.unique()

array(['BEFORE 2017', 'M1-2020', 'M1-2021', 'M1-2022', 'M10-2020',
       'M10-2021', 'M11-2020', 'M11-2021', 'M12-2020', 'M12-2021',
       'M2-2020', 'M2-2021', 'M2-2022', 'M3-2020', 'M3-2021', 'M3-2022',
       'M4-2020', 'M4-2021', 'M5-2020', 'M5-2021', 'M6-2020', 'M6-2021',
       'M7-2020', 'M7-2021', 'M8-2020', 'M8-2021', 'M9-2020', 'M9-2021',
       'Q1-2017', 'Q1-2018', 'Q1-2019', 'Q2-2017', 'Q2-2018', 'Q2-2019',
       'Q3-2017', 'Q3-2018', 'Q3-2019', 'Q4-2017', 'Q4-2018', 'Q4-2019',
       'MISSING'], dtype=object)

In [9]:
columns=['pincode','state','district','tier','opened',
'score_band','ticket_size','member_group','live_closed',
'dpd_status','sanctioned_amount','current_balance']

In [10]:
dfData=dfData[columns]
dfData.head()

,pincode,state,district,tier,opened,score_band,ticket_size,member_group,live_closed,dpd_status,sanctioned_amount,current_balance
3776,110001.0,Delhi,Central Delhi,METRO,BEFORE 2017,300-680,12L-15L,PEER,CLOSED,CLOSED,2584000,0
3777,110001.0,Delhi,Central Delhi,METRO,BEFORE 2017,300-680,12L-15L,PVT,CLOSED,CLOSED,1337000,0
3778,110001.0,Delhi,Central Delhi,METRO,BEFORE 2017,681-730,12L-15L,PVT,CLOSED,CLOSED,4198620,0
3779,110001.0,Delhi,Central Delhi,METRO,BEFORE 2017,771-790,15L+,PEER,CLOSED,CLOSED,3907800,0
3780,110001.0,Delhi,Central Delhi,METRO,BEFORE 2017,300-680,15L+,PEER,CLOSED,CLOSED,2086000,0

In [24]:
dfData['pincode']=dfData['pincode'].astype(str)

In [33]:
dfData['state']=dfData['state'].astype(str)

In [35]:
dfData['sanctioned_amount']=dfData['sanctioned_amount'].astype(int)

In [36]:
dfData['dpd_status']=dfData['dpd_status'].astype(str)

In [34]:
dfData['district']=dfData['district'].astype(str)
dfData['tier']=dfData['tier'].astype(str)
dfData['opened']=dfData['opened'].astype(str)
dfData['score_band']=dfData['score_band'].astype(str)
dfData['ticket_size']=dfData['ticket_size'].astype(str)

In [46]:
dfData['dpd_status'].describe()

count     6960150
unique         11
top        CLOSED
freq      3049872
Name: dpd_status, dtype: object

In [47]:
dfData['dpd_status'].unique()

array(['CLOSED', '0-STD', '720-900', '150-179/DBT', '360-719',
       '90-149/SUB', '1-29', '180-359/LSS', '60-89/SMA', '30-59', 'nan'],
      dtype=object)

In [51]:
print(dfData.shape)
dfData = dfData[~(dfData['dpd_status']=='nan')]
print(dfData.shape)

(6960150, 12)
(6960131, 12)

In [52]:
dfData['dpd_status'].unique()

array(['CLOSED', '0-STD', '720-900', '150-179/DBT', '360-719',
       '90-149/SUB', '1-29', '180-359/LSS', '60-89/SMA', '30-59'],
      dtype=object)

In [53]:
dfData['dpd_status_index']=0 #CLOSED

/var/folders/hx/r3w_k0mn7jqfsy8gcq8w06j40000gp/T/ipykernel_22972/3407232725.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfData['dpd_status_index']=0

In [59]:
dfData.loc[dfData['dpd_status']=='0-STD','dpd_status_index']=1

In [60]:
dfData.loc[dfData['dpd_status']=='720-900','dpd_status_index']=2
dfData.loc[dfData['dpd_status']=='150-179/DBT','dpd_status_index']=3
dfData.loc[dfData['dpd_status']=='360-719','dpd_status_index']=4
dfData.loc[dfData['dpd_status']=='90-149/SUB','dpd_status_index']=5
dfData.loc[dfData['dpd_status']=='1-29','dpd_status_index']=6
dfData.loc[dfData['dpd_status']=='180-359/LSS','dpd_status_index']=7
dfData.loc[dfData['dpd_status']=='60-89/SMA','dpd_status_index']=8
dfData.loc[dfData['dpd_status']=='30-59','dpd_status_index']=9

In [61]:
dfData['dpd_status_index'].unique()

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [37]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold
from xgboost import XGBRegressor,XGBClassifier
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.compose import ColumnTransformer
from sklearn.metrics import classification_report
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.preprocessing import OneHotEncoder

In [62]:
drop_columns = ['dpd_status','current_balance','member_group','live_closed','dpd_status_index']
label_column = ['dpd_status_index']

In [63]:
X_train, X_test, y_train, y_test = train_test_split(dfData.drop(columns=drop_columns,axis=1), dfData[label_column], test_size=0.15,random_state=42)

In [64]:
X_train.head()

,pincode,state,district,tier,opened,score_band,ticket_size,sanctioned_amount
1280039,770016.0,Odisha,Sundergarh,RURAL,Q4-2017,731-770,5L-7L,569307
3003114,248001.0,Uttarakhand,Dehradun,URBAN,M7-2021,300-680,4L-5L,450000
2501372,670307.0,Kerala,Kannur,SEMI-URBAN,M9-2020,300-680,7L-9L,735195
1642448,281306.0,Uttar Pradesh,Hathras,SEMI-URBAN,Q2-2018,300-680,15L+,1688000
2147079,506221.0,Telangana,Warangal,RURAL,Q4-2019,681-730,2L-4L,377830

In [65]:
y_train.head()

         dpd_status_index
1280039                 0
3003114                 1
2501372                 1
1642448                 1
2147079                 9

In [66]:
categorical_features=['pincode','state','district','tier','opened','score_band','ticket_size']
numeric_features=['sanctioned_amount']
##numeric_features.extend(indent_vector_str)
#numeric_features.extend(context_affinity_str)

numeric_transformer = Pipeline(steps=[('imputer', SimpleImputer(strategy='median'))])
categorical_transformer = Pipeline(steps=[('imputer', 
                                SimpleImputer(strategy='constant', fill_value=999)),
                        ('onehot', OneHotEncoder(handle_unknown='ignore'))])
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)])

clf_model = Pipeline(steps=[('preprocessor', preprocessor),
                      ('regressor', XGBClassifier())])

In [67]:
clf_model.fit(X_train, y_train)

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer(strategy='median'))]),
                                                  ['sanctioned_amount']),
                                                 ('cat',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer(fill_value=999,
                                                                                 strategy='constant')),
                                                                  ('onehot',
                                                                   OneHotEncoder(handle_unknown='ignore'))]),
                                                  ['pincode', 'state',
                                                   'district', 'tier', 'opened',
                                                   'score_ban...
                               gamma=0, gpu_id=-1, grow_policy='depthwise',
                               importance_type=None, interaction_constraints='',
                               learning_rate=0.300000012, max_bin=256,
                               max_cat_to_onehot=4, max_delta_step=0,
                               max_depth=6, max_leaves=0, min_child_weight=1,
                               missing=nan, monotone_constraints='()',
                               n_estimators=100, n_jobs=0, num_parallel_tree=1,
                               objective='multi:softprob', predictor='auto',
                               random_state=0, reg_alpha=0, ...))])

In [68]:
print("v2: Model Train R2: ", r2_score(y_train, clf_model.predict(X_train)))
print("v2: Model Val R2: ", r2_score(y_test, clf_model.predict(X_test)))

v2: Model Train R2:  -0.252220083243875
v2: Model Val R2:  -0.2520548768043571

In [78]:
y_train_pred = clf_model.predict(X_train)
y_test_pred = clf_model.predict(X_test)

In [80]:
from sklearn.metrics import accuracy_score, f1_score
print("v2: Model Train Accuracy Score : ", str(accuracy_score(y_train,y_train_pred)))
#print("v2: Model Train F1 Score : ", str(f1_score(y_train,y_train_pred)))

v2: Model Train Accuracy Score :  0.6174262112391062

In [81]:
from sklearn.metrics import accuracy_score, f1_score
print("v2: Model Test Accuracy Score : ", str(accuracy_score(y_test,y_test_pred)))
#print("v2: Model Test F1 Score : ", str(f1_score(y_test,y_test_pred)))

v2: Model Test Accuracy Score :  0.6172094404321756

In [83]:
from sklearn.inspection import permutation_importance
perm_importance = permutation_importance(clf_model, X_test, y_test)

In [88]:
#!pip install seaborn

In [89]:
from matplotlib import pyplot as plt
import seaborn as sns # for correlation heatmap

In [93]:
perm_importance

{'importances_mean': array([1.62832130e-05, 7.82322178e-03, 9.15691270e-04, 1.88119002e-04,
        2.03216988e-01, 1.14118503e-02, 1.32196701e-02, 1.11578322e-02]),
 'importances_std': array([7.14214359e-06, 1.72716301e-04, 4.83228053e-05, 4.76944652e-05,
        3.35132916e-04, 1.10302464e-04, 7.25141994e-05, 1.56306401e-04]),
 'importances': array([[1.24518687e-05, 2.49037375e-05, 8.62052451e-06, 1.05361966e-05,
         2.49037375e-05],
        [7.71536944e-03, 7.59085075e-03, 7.93567173e-03, 8.08700983e-03,
         7.78720714e-03],
        [9.71245762e-04, 9.18564778e-04, 9.59751729e-04, 8.90787533e-04,
         8.38106550e-04],
        [2.10723932e-04, 2.48079539e-04, 1.51338097e-04, 2.14555277e-04,
         1.15898163e-04],
        [2.03320818e-01, 2.03283462e-01, 2.03701079e-01, 2.03111052e-01,
         2.02668531e-01],
        [1.14269842e-02, 1.11999770e-02, 1.14930748e-02, 1.14346468e-02,
         1.15045689e-02],
        [1.31779085e-02, 1.33053007e-02, 1.31491734e-02, 1.33100898e-02,
         1.31558782e-02],
        [1.12172181e-02, 1.11099404e-02, 1.11664527e-02, 1.13886707e-02,
         1.09068792e-02]])}

In [95]:
sorted_idx = perm_importance.importances_mean.argsort()
print(sorted_idx)

[0 3 2 1 7 5 6 4]

In [91]:

feature_names = ['pincode','state','district','tier','opened','score_band','ticket_size','sanctioned_amount']

In [94]:
feature_names[sorted_idx]

TypeError: only integer scalar arrays can be converted to a scalar index

In [92]:
plt.barh(feature_names[sorted_idx], perm_importance.importances_mean[sorted_idx])
plt.xlabel("Permutation Importance")

TypeError: only integer scalar arrays can be converted to a scalar index

In [69]:
f, ax = plt.subplots(figsize=(10,5))
plot = sns.barplot(x=features, y=final_clf.feature_importances_)
ax.set_title('Feature Importance')
plot.set_xticklabels(plot.get_xticklabels(),rotation='vertical')
plt.show()

v2: Model Train MAE:  1.4761748046985597
v2: Model VAL MAE:  1.4768241987701385

In [70]:
import pickle
# save the model to disk
filename = 'cvLoans_v0.sav'
pickle.dump(clf_model, open(filename, 'wb'))