In [1]:
import pandas as pd

In [2]:
dfData = pd.read_csv('BLACKBUCK_Trade_Sizing_Mar22.csv')
dfData.shape

(6979200, 15)

In [3]:
dfData.head()

,pincode,state,district,tier,opened,score_band,ticket_size,product,member_group,live_closed,dpd_status,flag_derog,trades,sanctioned_amount,current_balance
0,NaN,NaN,NaN,NaN,BEFORE 2017,771-790,12L-15L,COMMERCIAL VEHICLE LOANS,NBFC,CLOSED,CLOSED,DEROG,2,2664907,606727
1,NaN,NaN,NaN,NaN,BEFORE 2017,731-770,12L-15L,COMMERCIAL VEHICLE LOANS,NBFC,LIVE,0-STD,NON-DEROG,1,1213000,179270
2,NaN,NaN,NaN,NaN,BEFORE 2017,300-680,12L-15L,COMMERCIAL VEHICLE LOANS,NBFC,LIVE,180-359/LSS,DEROG,3,4090000,2430353
3,NaN,NaN,NaN,NaN,BEFORE 2017,300-680,12L-15L,COMMERCIAL VEHICLE LOANS,NBFC,LIVE,720-900,DEROG,2,2684590,2047383
4,NaN,NaN,NaN,NaN,BEFORE 2017,731-770,12L-15L,COMMERCIAL VEHICLE LOANS,OTHERS,CLOSED,CLOSED,NON-DEROG,3,4300000,0

In [4]:
len(dfData.pincode.unique()),len(dfData.state.unique()),len(dfData.district.unique()),len(dfData.score_band.unique())

(21516, 37, 641, 6)

In [5]:
dfData = dfData[~dfData['pincode'].isna()]

In [7]:
dfData['product']=dfData['product'].astype(str)
dfData['pincode']=dfData['pincode'].astype(str)
dfData['state']=dfData['state'].astype(str)
dfData['sanctioned_amount']=dfData['sanctioned_amount'].astype(int)
dfData['dpd_status']=dfData['dpd_status'].astype(str)
dfData['district']=dfData['district'].astype(str)
dfData['tier']=dfData['tier'].astype(str)
dfData['opened']=dfData['opened'].astype(str)
dfData['score_band']=dfData['score_band'].astype(str)
dfData['ticket_size']=dfData['ticket_size'].astype(str)
dfData['flag_derog']=dfData['flag_derog'].astype(str)
dfData['trades']=dfData['trades'].astype(int)

In [9]:
dfData['member_group']=dfData['member_group'].astype(str)

In [19]:
dfData['dpd_status_bb']='nan' #CLOSED

In [20]:
dfData.loc[dfData['dpd_status']=='CLOSED','dpd_status_bb']='loan_closed'
dfData.loc[dfData['dpd_status']=='0-STD','dpd_status_bb']='performing_well'
dfData.loc[dfData['dpd_status']=='720-900','dpd_status_bb']='90+'
dfData.loc[dfData['dpd_status']=='150-179/DBT','dpd_status_bb']='90+'
dfData.loc[dfData['dpd_status']=='360-719','dpd_status_bb']='90+'
dfData.loc[dfData['dpd_status']=='90-149/SUB','dpd_status_bb']='90+'
dfData.loc[dfData['dpd_status']=='1-29','dpd_status_bb']='Bucket_1'
dfData.loc[dfData['dpd_status']=='180-359/LSS','dpd_status_bb']='90+'
dfData.loc[dfData['dpd_status']=='60-89/SMA','dpd_status_bb']='Bucket_3'
dfData.loc[dfData['dpd_status']=='30-59','dpd_status_bb']='Bucket_2'

In [26]:
dfData[~(dfData['dpd_status_bb']=='nan')].shape

(6960131, 17)

In [27]:
print(dfData.shape)
dfData = dfData[~(dfData['dpd_status_bb']=='nan')]
print(dfData.shape)

(6960150, 17)
(6960131, 17)

In [28]:
dfData['dpd_status_bb'].unique()

array(['loan_closed', 'performing_well', '90+', 'Bucket_1', 'Bucket_3',
       'Bucket_2'], dtype=object)

In [29]:
dfData['dpd_status'].unique()

array(['CLOSED', '0-STD', '720-900', '150-179/DBT', '360-719',
       '90-149/SUB', '1-29', '180-359/LSS', '60-89/SMA', '30-59'],
      dtype=object)

In [30]:
dfData['dpd_status_bb']=dfData['dpd_status_bb'].astype(str)

In [31]:
dfData['ticket_size'].unique()

array(['12L-15L', '15L+', '2L-4L', '4L-5L', '5L-7L', '7L-9L', '9L-12L',
       'nan', 'LT ZERO'], dtype=object)

In [12]:
dfData['ticket_size_bb']='nan' #CLOSED

In [32]:
dfData.loc[dfData['ticket_size']=='LT ZERO','ticket_size_bb']= 'lt_zero'
dfData.loc[dfData['ticket_size']=='2L-4L','ticket_size_bb']= 'scv'
dfData.loc[dfData['ticket_size']=='4L-5L','ticket_size_bb']= 'pickup'
dfData.loc[dfData['ticket_size']=='5L-7L','ticket_size_bb']= 'lcv_1'
dfData.loc[dfData['ticket_size']=='7L-9L','ticket_size_bb']= 'lcv_2'
dfData.loc[dfData['ticket_size']=='9L-12L','ticket_size_bb']= 'mhcv_1'
dfData.loc[dfData['ticket_size']=='12L-15L','ticket_size_bb']= 'mhcv_2'
dfData.loc[dfData['ticket_size']=='15L+','ticket_size_bb']= 'mhcv_3'

In [33]:
print(dfData.shape)
dfData = dfData[~(dfData['ticket_size_bb']=='nan')]
print(dfData.shape)

(6960131, 17)
(6960131, 17)

In [34]:
dfData[(dfData['ticket_size_bb']=='lt_zero')].shape

(3819, 17)

In [35]:
dfData['score_band'].unique()

array(['300-680', '681-730', '771-790', '791-900', '731-770', 'nan'],
      dtype=object)

In [37]:
dfData['score_band_bb']='nan' #CLOSED

In [40]:
dfData.loc[dfData['score_band']=='300-680','score_band_bb']= 'low'
dfData.loc[dfData['score_band']=='681-730','score_band_bb']= 'band_1'
dfData.loc[dfData['score_band']=='731-770','score_band_bb']= 'band_2'
dfData.loc[dfData['score_band']=='771-790','score_band_bb']= 'band_3'
dfData.loc[dfData['score_band']=='791-900','score_band_bb']= 'band_4'

In [ ]:
#['band_4','band_3','band_2','band_1','low']

In [41]:
dfData[(dfData['score_band_bb']=='nan')].shape

(86816, 18)

In [42]:
print(dfData.shape)
dfData = dfData[~(dfData['score_band_bb']=='nan')]
print(dfData.shape)

(6960131, 18)
(6873315, 18)

In [43]:
dfData.to_csv('dfData_bb_trade_sizing_mar_22.csv')

In [101]:
dfData[dfData['dpd_status_bb']=='loan_closed'].shape

(3002542, 18)

In [105]:
temp_1=dfData[dfData['dpd_status_bb']!='loan_closed']

In [106]:
temp_1.head()

,pincode,state,district,tier,opened,score_band,ticket_size,product,member_group,live_closed,dpd_status,flag_derog,trades,sanctioned_amount,current_balance,dpd_status_bb,ticket_size_bb,score_band_bb
3785,110001.0,Delhi,Central Delhi,METRO,BEFORE 2017,731-770,2L-4L,COMMERCIAL VEHICLE LOANS,NBFC,LIVE,0-STD,DEROG,1,315000,109515,performing_well,scv,band_2
3786,110001.0,Delhi,Central Delhi,METRO,BEFORE 2017,681-730,2L-4L,COMMERCIAL VEHICLE LOANS,NBFC,LIVE,720-900,NON-DEROG,1,379000,1096372,90+,scv,band_1
3789,110001.0,Delhi,Central Delhi,METRO,BEFORE 2017,300-680,2L-4L,COMMERCIAL VEHICLE LOANS,PSU,LIVE,150-179/DBT,NON-DEROG,1,320000,36226,90+,scv,low
3790,110001.0,Delhi,Central Delhi,METRO,BEFORE 2017,300-680,2L-4L,COMMERCIAL VEHICLE LOANS,PSU,LIVE,720-900,DEROG,1,365000,505396,90+,scv,low
3792,110001.0,Delhi,Central Delhi,METRO,BEFORE 2017,681-730,2L-4L,COMMERCIAL VEHICLE LOANS,PVT,LIVE,0-STD,NON-DEROG,1,352000,1109,performing_well,scv,band_1

In [108]:
temp_1.to_csv('dfData_bb_trade_sizing_mar_22_live.csv')

In [107]:
temp_1['trades'].sum()

5232302

In [44]:
temp=dfData[['pincode','opened','trades','live_closed','sanctioned_amount','current_balance','dpd_status_bb']]

In [45]:
temp=temp[temp['trades']>0]
temp=temp.sort_values(['trades'],ascending=False)
temp['sanctioned_amount_mean']=temp['sanctioned_amount']/temp['trades']

In [51]:
temp_group= temp.groupby(['pincode','dpd_status_bb'],as_index=False).agg({'trades':['count','sum'],'sanctioned_amount_mean':'mean'})

In [52]:
temp_group.columns=['pincode','dpd_status_bb','count_trades','num_trades','mean_sanctioned_amount']
temp_group.head()

    pincode dpd_status_bb  count_trades  num_trades  mean_sanctioned_amount
0  110001.0           90+           407         601            8.397447e+05
1  110001.0      Bucket_1           209         256            9.333190e+05
2  110001.0      Bucket_2           140         165            8.213625e+05
3  110001.0      Bucket_3            86         112            1.136971e+06
4  110001.0   loan_closed          1120        4061            8.286690e+05

In [56]:
temp_group_group = temp_group.groupby(['pincode'],as_index=False).agg({'num_trades':'sum'})
temp_group_group.columns=['pincode','sum_num_trades']
temp_group_group.head()

    pincode  sum_num_trades
0  110001.0            6870
1  110002.0            1034
2  110003.0            1149
3  110004.0             272
4  110005.0            2153

In [58]:
temp_group=pd.merge(temp_group,temp_group_group,on='pincode')
temp_group.head()

,pincode,dpd_status_bb,count_trades,num_trades,mean_sanctioned_amount,sum_num_trades
0,110001.0,90+,407,601,8.397447e+05,6870
1,110001.0,Bucket_1,209,256,9.333190e+05,6870
2,110001.0,Bucket_2,140,165,8.213625e+05,6870
3,110001.0,Bucket_3,86,112,1.136971e+06,6870
4,110001.0,loan_closed,1120,4061,8.286690e+05,6870

In [59]:
temp_group.head(20)

,pincode,dpd_status_bb,count_trades,num_trades,mean_sanctioned_amount,sum_num_trades
0,110001.0,90+,407,601,8.397447e+05,6870
1,110001.0,Bucket_1,209,256,9.333190e+05,6870
2,110001.0,Bucket_2,140,165,8.213625e+05,6870
3,110001.0,Bucket_3,86,112,1.136971e+06,6870
4,110001.0,loan_closed,1120,4061,8.286690e+05,6870
5,110001.0,performing_well,920,1675,1.017516e+06,6870
6,110002.0,90+,56,79,7.161089e+05,1034
7,110002.0,Bucket_1,25,28,9.929536e+05,1034
8,110002.0,Bucket_2,15,15,7.665095e+05,1034
9,110002.0,Bucket_3,14,23,9.996499e+05,1034
10,110002.0,loan_closed,344,535,7.115560e+05,1034
11,110002.0,performing_well,245,354,9.907892e+05,1034
12,110003.0,90+,68,81,7.567191e+05,1149
13,110003.0,Bucket_1,31,32,7.724955e+05,1149
14,110003.0,Bucket_2,23,23,8.210380e+05,1149
15,110003.0,Bucket_3,8,8,4.900485e+05,1149
16,110003.0,loan_closed,340,603,7.915896e+05,1149
17,110003.0,performing_well,266,402,9.878661e+05,1149
18,110004.0,90+,23,30,8.473083e+05,272
19,110004.0,Bucket_1,16,18,1.177974e+06,272

In [60]:
temp_group['dpd_%_contrib'] = (temp_group['num_trades'] / temp_group['sum_num_trades']) * 100
temp_group.head()

,pincode,dpd_status_bb,count_trades,num_trades,mean_sanctioned_amount,sum_num_trades,dpd_%_contrib
0,110001.0,90+,407,601,8.397447e+05,6870,8.748180
1,110001.0,Bucket_1,209,256,9.333190e+05,6870,3.726346
2,110001.0,Bucket_2,140,165,8.213625e+05,6870,2.401747
3,110001.0,Bucket_3,86,112,1.136971e+06,6870,1.630277
4,110001.0,loan_closed,1120,4061,8.286690e+05,6870,59.112082

In [61]:
import numpy as np
temp_group['dpd_%_contrib'] = np.round(temp_group['dpd_%_contrib'], decimals = 3)

In [62]:
temp_group.head()

,pincode,dpd_status_bb,count_trades,num_trades,mean_sanctioned_amount,sum_num_trades,dpd_%_contrib
0,110001.0,90+,407,601,8.397447e+05,6870,8.748
1,110001.0,Bucket_1,209,256,9.333190e+05,6870,3.726
2,110001.0,Bucket_2,140,165,8.213625e+05,6870,2.402
3,110001.0,Bucket_3,86,112,1.136971e+06,6870,1.630
4,110001.0,loan_closed,1120,4061,8.286690e+05,6870,59.112

In [64]:
len(temp_group.pincode.unique())

21513

In [65]:
pincodes_90plus=temp_group[temp_group['dpd_status_bb']=='90+']
pincodes_90plus.shape

(20165, 7)

In [66]:
pincodes_90plus.head()

,pincode,dpd_status_bb,count_trades,num_trades,mean_sanctioned_amount,sum_num_trades,dpd_%_contrib
0,110001.0,90+,407,601,839744.703303,6870,8.748
6,110002.0,90+,56,79,716108.922619,1034,7.640
12,110003.0,90+,68,81,756719.134804,1149,7.050
18,110004.0,90+,23,30,847308.282609,272,11.029
24,110005.0,90+,91,125,654727.335296,2153,5.806

In [67]:
pincodes_90plus_npa_5=pincodes_90plus[pincodes_90plus['dpd_%_contrib']>5]
pincodes_90plus_npa_5.shape

(17478, 7)

In [68]:
17478/20165

0.866749318125465

In [117]:
temp_1.shape

(3870773, 18)

In [112]:
temp_gr=temp_1[['state','district','pincode','tier','member_group','ticket_size','ticket_size_bb','score_band_bb','opened','trades','live_closed','sanctioned_amount','current_balance','dpd_status_bb']]

In [113]:
temp_gr=temp_gr[temp['trades']>0]
temp_gr=temp_gr.sort_values(['trades'],ascending=False)
temp_gr['sanctioned_amount_mean']=temp_gr['sanctioned_amount']/temp_gr['trades']
temp_gr_gr= temp_gr.groupby(['state','district','tier','pincode','member_group','ticket_size_bb','score_band_bb','dpd_status_bb'],as_index=False).agg({'trades':['count','sum'],'sanctioned_amount_mean':'mean'})

/tmp/ipykernel_121923/1980830573.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  temp_gr=temp_gr[temp['trades']>0]

In [114]:
temp_gr_gr.columns=['state','district','tier','pincode','member_group','ticket_size_bb','score_band_bb','dpd_status_bb','count_trades','num_trades','mean_sanctioned_amount']
temp_gr_gr.head()

,state,district,tier,pincode,member_group,ticket_size_bb,score_band_bb,dpd_status_bb,count_trades,num_trades,mean_sanctioned_amount
0,Andaman & Nicobar Islands,North And Middle Andaman,RURAL,744201.0,NBFC,mhcv_1,low,Bucket_1,1,1,108149.0
1,Andaman & Nicobar Islands,North And Middle Andaman,RURAL,744201.0,NBFC,mhcv_1,low,Bucket_3,1,1,126874.0
2,Andaman & Nicobar Islands,North And Middle Andaman,RURAL,744201.0,NBFC,mhcv_2,band_1,performing_well,1,1,1500000.0
3,Andaman & Nicobar Islands,North And Middle Andaman,RURAL,744201.0,NBFC,mhcv_3,band_1,Bucket_2,1,2,1700000.0
4,Andaman & Nicobar Islands,North And Middle Andaman,RURAL,744202.0,NBFC,mhcv_1,band_1,performing_well,1,2,1200000.0

In [115]:
temp_gr_gr.shape

(1486812, 11)

In [116]:
temp_gr_gr.to_csv('dfData_bb_trade_sizing_mar_22_live_groupby.csv')

In [ ]:
# do it wrt score bamd

In [70]:
temp=dfData[['state','pincode','score_band_bb','opened','trades','live_closed','sanctioned_amount','current_balance','dpd_status_bb']]

In [71]:
temp=temp[temp['trades']>0]
temp=temp.sort_values(['trades'],ascending=False)
temp['sanctioned_amount_mean']=temp['sanctioned_amount']/temp['trades']
temp_group= temp.groupby(['pincode','score_band_bb','dpd_status_bb'],as_index=False).agg({'trades':['count','sum'],'sanctioned_amount_mean':'mean'})

In [72]:
temp_group.columns=['pincode','score_band_bb','dpd_status_bb','count_trades','num_trades','mean_sanctioned_amount']
temp_group.head()

,pincode,score_band_bb,dpd_status_bb,count_trades,num_trades,mean_sanctioned_amount
0,110001.0,band_1,90+,55,61,1.117250e+06
1,110001.0,band_1,Bucket_1,70,83,8.987611e+05
2,110001.0,band_1,Bucket_2,42,46,9.742731e+05
3,110001.0,band_1,Bucket_3,19,25,1.187694e+06
4,110001.0,band_1,loan_closed,319,1203,8.509756e+05

In [73]:
temp_group_group = temp_group.groupby(['pincode','score_band_bb'],as_index=False).agg({'num_trades':'sum'})
temp_group_group.columns=['pincode','score_band_bb','sum_num_trades']
temp_group_group.head()

    pincode score_band_bb  sum_num_trades
0  110001.0        band_1            1961
1  110001.0        band_2            1369
2  110001.0        band_3             376
3  110001.0        band_4             243
4  110001.0           low            2921

In [74]:
temp_group=pd.merge(temp_group,temp_group_group,on=['pincode','score_band_bb'])
temp_group.head()

,pincode,score_band_bb,dpd_status_bb,count_trades,num_trades,mean_sanctioned_amount,sum_num_trades
0,110001.0,band_1,90+,55,61,1.117250e+06,1961
1,110001.0,band_1,Bucket_1,70,83,8.987611e+05,1961
2,110001.0,band_1,Bucket_2,42,46,9.742731e+05,1961
3,110001.0,band_1,Bucket_3,19,25,1.187694e+06,1961
4,110001.0,band_1,loan_closed,319,1203,8.509756e+05,1961

In [75]:
temp_group['dpd_%_contrib'] = (temp_group['num_trades'] / temp_group['sum_num_trades']) * 100
temp_group.head()

,pincode,score_band_bb,dpd_status_bb,count_trades,num_trades,mean_sanctioned_amount,sum_num_trades,dpd_%_contrib
0,110001.0,band_1,90+,55,61,1.117250e+06,1961,3.110658
1,110001.0,band_1,Bucket_1,70,83,8.987611e+05,1961,4.232534
2,110001.0,band_1,Bucket_2,42,46,9.742731e+05,1961,2.345742
3,110001.0,band_1,Bucket_3,19,25,1.187694e+06,1961,1.274860
4,110001.0,band_1,loan_closed,319,1203,8.509756e+05,1961,61.346252

In [69]:
temp=dfData[['pincode','opened','trades','live_closed','sanctioned_amount','current_balance','dpd_status_bb']]

temp=temp[temp['trades']>0]
temp=temp.sort_values(['trades'],ascending=False)
temp['sanctioned_amount_mean']=temp['sanctioned_amount']/temp['trades']
temp_group= temp.groupby(['pincode','dpd_status_bb'],as_index=False).agg({'trades':['count','sum'],'sanctioned_amount_mean':'mean'})

temp_group.columns=['pincode','dpd_status_bb','count_trades','num_trades','mean_sanctioned_amount']
#temp_group.head()

temp_group_group = temp_group.groupby(['pincode'],as_index=False).agg({'num_trades':'sum'})
temp_group_group.columns=['pincode','sum_num_trades']
temp_group_group.head()

temp_group=pd.merge(temp_group,temp_group_group,on='pincode')
temp_group.head()

temp_group['dpd_%_contrib'] = (temp_group['num_trades'] / temp_group['sum_num_trades']) * 100
temp_group.head()

In [ ]:
#band_4: 15894 dsitricts, no districts with 90+ 
#band_3: 19429 dsitricts, 58 districts with 90+ , 5 districts with >5%
#band_2: 20702 dsitricts, 842 districts with 90+ , 28 districts with >5%
#band_1: 20915 dsitricts, 10411 districts with 90+ , 1958 districts with >5%
#band_low: 21090 dsitricts, 20090 districts with 90+ , 19918 districts with >5%

In [ ]:
#band_1

In [98]:
temp_group_4 = temp_group[temp_group['score_band_bb']=='low']
len(temp_group_4.pincode.unique())

21090

In [99]:
pincodes_90plus=temp_group_4[temp_group_4['dpd_status_bb']=='90+']
pincodes_90plus.shape

(20090, 8)

In [100]:
pincodes_90plus_npa_5=pincodes_90plus[pincodes_90plus['dpd_%_contrib']>5]
pincodes_90plus_npa_5.shape

(19918, 8)

In [78]:
pincodes_90plus_npa_5.head()

,pincode,score_band_bb,dpd_status_bb,count_trades,num_trades,mean_sanctioned_amount,sum_num_trades,dpd_%_contrib
17,110001.0,low,90+,352,540,796384.470864,2921,18.486820
38,110002.0,low,90+,54,77,735320.475309,333,23.123123
58,110003.0,low,90+,67,80,766520.912935,410,19.512195
74,110004.0,low,90+,23,30,847308.282609,95,31.578947
94,110005.0,low,90+,90,124,657557.639021,695,17.841727